#jinja2: lstrip_blocks: "True", trim_blocks: "True"
{{ ansible_managed | comment }}

@include 'ferm.d/';

# Default conservative configuration.
# Services that require specific rules should add them into the ferm.d directory.
table filter {
    chain INPUT {
        policy DROP;
        mod conntrack ctstate INVALID DROP;
        mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
        interface lo ACCEPT;
        {% if firewall_allow_ping %}
        proto icmp icmp-type echo-request mod comment comment "Authorize ping." ACCEPT;
        {% endif %}
        {% if firewall_allow_ssh %}
        proto tcp dport ({{ firewall_ssh_ports | unique | join(' ') }}) mod comment comment "Authorize SSH connections." ACCEPT;
        {% endif %}
    }

    chain OUTPUT {
        policy ACCEPT;
    }

    chain FORWARD {
        policy DROP;
        mod conntrack ctstate INVALID DROP;
        mod conntrack ctstate (ESTABLISHED RELATED) ACCEPT;
    }
}
